Content/xsd/EchoReborn.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema 
    xmlns:xs="http://www.w3.org/2001/XMLSchema"
    targetNamespace="http://www.univ-grenoble-alpes.fr/l3miage/EchoReborn"
    xmlns:er="http://www.univ-grenoble-alpes.fr/l3miage/EchoReborn"
    elementFormDefault="qualified">
    
    <!-- Element racine -->
    <xs:element name="echoReborn" type="er:EchoReborn"/>
    <!-- Element racine pour InitialState -->
    <xs:element name="initialState" type="er:InitialState"/>
    <!-- Element racine pour GameState -->
    <xs:element name="gameState" type="er:GameState"/>
    <!-- Element racine pour enemies-->
    <xs:element name="enemies" type="er:Enemies"/>
    <!-- Element racine pour Character -->
    <xs:element name="character" type="er:Character"/>
    <!-- Element racine pour Character -->
    <xs:element name="skills" type="er:Skills"/>
    
    <!-- 2 elements : initialState, gameState -->
    <xs:complexType name="EchoReborn">
        <xs:sequence>
            <xs:element name="initialState" type="er:InitialState"/>
            <xs:element name="gameState" type="er:GameState"/>
        </xs:sequence>
    </xs:complexType>
    
    <!-- 4 elements : locations, enemies, character,skills -->
    <xs:complexType name="InitialState">
        <xs:sequence>
            <xs:element name="locations" type="er:Locations"/>
            <xs:element name="enemies" type="er:Enemies"/>
            <xs:element name="character" type="er:Character"/>
            <xs:element name="skills" type="er:Skills"/>
        </xs:sequence>
    </xs:complexType>
    
    <!-- Collection des locations -->
    <xs:complexType name="Locations">
        <xs:sequence>
            <xs:element name="location" type="er:Location" minOccurs="1" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>
    
    <!-- 7 elements : id, name, difficulty, connectedLocationIds, enemyEncounterIds, isStartLocation, isFinalLocation -->
    <xs:complexType name="Location">
        <xs:sequence>
            <xs:element name="name" type="xs:string"/>
            <xs:element name="difficulty" type="xs:int"/>
            <xs:element name="isStartLocation" type="xs:boolean"/>
            <xs:element name="isFinalLocation" type="xs:boolean"/>
            <xs:element name="connectedLocationId" type="xs:int" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element name="enemyEncounterId" type="er:EnemyRefs"/>
        </xs:sequence>
        <xs:attribute name="id" type="xs:int" use="required"/>
    </xs:complexType>
    
    <!-- Collection des enemies -->
    <xs:complexType name="Enemies">
        <xs:sequence>
            <xs:element name="enemy" type="er:Enemy" minOccurs="1" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>
    
    <!-- 7 elements : id, name, difficulty, maxHP, animationClass, rewardXP, skillIds -->
    <xs:complexType name="Enemy">
        <xs:sequence>
            <xs:element name="name" type="xs:string"/>
            <xs:element name="difficulty" type="xs:int"/>
            <xs:element name="maxHP" type="xs:int"/>
            <xs:element name="animationClass" type="xs:string"/>
            <xs:element name="rewardXP" type="xs:int"/>
            <xs:element name="skills" type="er:SkillRefs"/>
        </xs:sequence>
        <xs:attribute name="id" type="xs:int" use="required"/>
    </xs:complexType>
    
    <!-- Collection des refEnemys -->
    <xs:complexType name="EnemyRefs">
        <xs:sequence>
            <xs:element name="enemyRefs" type="xs:int" minOccurs="1" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>
    <!-- Collection des Skills -->
    <xs:complexType name="Skills">
        <xs:sequence>
            <xs:element name="skill" type="er:Skill" minOccurs="1" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>
    <!-- Collection des Skills -->
    <xs:complexType name="SkillRefs">
        <xs:sequence>
            <xs:element name="skillRef" type="xs:int" minOccurs="1" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>
    
    <!-- Id , Type Name , Description , TargetType , ManaCost , HealthCost , Damage ,Heal , AnimationClass , SkillClass -->
    <xs:complexType name="Skill">
        <xs:sequence>
            <xs:element name="type" type="er:SkillType"/>
            <xs:element name="name" type="xs:string"/>
            <xs:element name="description" type="xs:string"/>
            <xs:element name="TargetType" type="er:TargetType"/>
            <xs:element name="ManaCost" type="xs:int"/>
            <xs:element name="HealthCost" type="xs:int"/>
            <xs:element name="Damage" type="xs:int"/>
            <xs:element name="Heal" type="xs:int"/>
            <xs:element name="AnimationClass" type="xs:string"/>
            <xs:element name="SkillClass" type="xs:string"/>

        </xs:sequence>
        <xs:attribute name="id" type="xs:int" use="required"/>
    </xs:complexType>
    
    <!--  Type énuméré pour le targetType  -->
    <xs:simpleType name="TargetType">
        <xs:restriction base="xs:string">
            <!--      ALLIER     -->
            <xs:enumeration value="ALLIER"/>
            <!--      ENEMIES      -->
            <xs:enumeration value="ENEMIES"/>
            <!--      ALL      -->
            <xs:enumeration value="ALL"/>
        </xs:restriction>
    </xs:simpleType>
    <!--  Type énuméré pour le SkillType  -->
    <xs:simpleType name="SkillType">
        <xs:restriction base="xs:string">
            <!--      BASIC    -->
            <xs:enumeration value="BASIC"/>
            <!--      COMPLEX      -->
            <xs:enumeration value="COMPLEX"/>
        </xs:restriction>
    </xs:simpleType>
    
    <!-- 7 elements : level, experience, currentHealth, maxHealth, currentMana, maxMana, skillIds -->
    <xs:complexType name="Character">
        <xs:sequence>
            <xs:element name="level" type="xs:int"/>
            <xs:element name="experience" type="xs:int"/>
            <xs:element name="currentHealth" type="xs:int"/>
            <xs:element name="maxHealth" type="xs:int"/>
            <xs:element name="currentMana" type="xs:int"/>
            <xs:element name="maxMana" type="xs:int"/>
            <xs:element name="skills" type="er:SkillRefs"/>
        </xs:sequence>
    </xs:complexType>
    
    <!-- 5 elements : saveDate, gameVersion, playTime, player, world -->
    <xs:complexType name="GameState">
        <xs:sequence>
            <xs:element name="saveDate" type="xs:dateTime"/>
            <xs:element name="gameVersion" type="xs:string"/>
            <xs:element name="playTime" type="xs:duration"/>
            <xs:element name="player" type="er:Character"/>
            <xs:element name="world" type="er:World"/>
        </xs:sequence>
    </xs:complexType>
    
    <!-- 1 element : latestClearedLocationId -->
    <xs:complexType name="World">
        <xs:sequence>
            <xs:element name="latestClearedLocationId" type="xs:int"/>
        </xs:sequence>
    </xs:complexType>
    
</xs:schema>